ros_ws/
__pycache__/
DISAL-SU42_proposal_blueprint.docx
rosbag_test_4h/
exodia_env/
rosbag2_2026_07_22-16_28_55/
test-jul-22/
depth_test/
Pictures/
papers/
discocal/
reconstructions/
thermal_wraparound_outputs/
thermal_wraparound_outputs2/
colmap_output/
colmap_output2/
rgb-thermal-calib/
pipeline_outputs/
